

/* Navbar */

.navbar {
position: absolute;
/*width: 1512px; */
width:100%;
height: 10vh;
left: 0px; 
top: 0px;
} 
 
.footer {
    /* Footer */
    position: absolute;
    width: 100%;
    height: 3vh;
    left: 0px;
    top: 70vh;
}

/* Navbar Background */

.navbar_background {
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #D9D9D9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nvision_logo {
    width: 10vw;
    height: 10vh;
 
}

.navbar-nav {
    width: 50%;
    justify-content: space-around;
}


.diagonal_polygon {
    position: absolute;
    top:10vh;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(#A3C5EB,#A3C5EB);
    transform: skewY(-40deg);
    transform-origin: top right;
  }

.bottom_rectangle {
    position:absolute;
    height:60vh;
    width:100vw;
    left:0px;
    /*top:950px;*/
    bottom:0px;
    background-color:#A3C5EB;
  
}

.red_square {
    box-sizing: border-box;

    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 10vw;
    top: 20vh;

    /* AC_Red */

    background: #BB3B4B;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.text_box {
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 59.1vw;
    top: 20vh;

    background: #D9D9D9;
}

p {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}

body {
   overflow:hidden;
}