 /* .carousel {
    height: 40vh;
    width: 35vw;
    
} */

.carousel img {
    top:30%;
    height: 54.5vh;
    width: 43vw;
    border: 2px solid black;
} 

#carouselExampleIndicators {
    position: fixed;
    left: 15%;
    height: 54.5vh;
    width: 43vw;
    top: 15.5%;
}

.ExteriorTitle {
    font-family: 'Gothic A1'; font-size: 48px;
    position: fixed;
    bottom: 73%;
    right: 13%
}

.ExteriorBody {
    font-family: 'Gothic A1'; font-size: 24px;
    position: fixed;
    bottom: 21%;
    right: 11%;
    width: 22vw;
    height: 26vw;
    /* word-wrap: break-word; */
}