 /* .carousel {
    height: 40vh;
    width: 35vw;
    
} */
/* Motor Picture Style */
.motor_picture img {
    top:30%;
    height: 54.5vh;
    width: 43vw;
    border: 2px solid black;

} 
/* Motor Picture Style */
.motor_picture img {
    position: fixed;
    left: 15%;
    height: 54.5vh;
    width: 43vw;
    top: 15.5%;
}
/* Motor Title Style */
.Motor_title {
    font-family: 'Gothic A1'; font-size: 48px;
    position: fixed;
    bottom: 73%;
    right: 13%
}
/* Motor Body Style */
.Motor_body {
    font-family: 'Gothic A1'; font-size: 24px;
    position: fixed;
    bottom: 21%;
    right: 11%;
    width: 22vw;
    height: 26vw;
    text-align: center;
    /* word-wrap: break-word; */
}